.about-us {
  display: flex;
  flex-direction: column;

  @include Full {
    width: 1080px;
    margin: 0 auto;
  }

  .content {
    display: flex;
    padding: 56px 175px 0;
    justify-content: space-between;
    width: 100vw;

    @include Full {
      padding: 0;
    }

    @include Tablet {
      padding: 28px 30px 0;
    }

    @include Phone {
      padding: 20px 15px 0;
      flex-direction: column;
    }

    @include Full {
      width: 1080px;
    }

    &__title {
      margin: 0;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.06em;
      color: #22356f;
      text-transform: uppercase;
      margin-right: 20px;

      @include Phone {
        height: 80px;
      }
    }

    &__text {
      width: 592px;
      font-size: 24px;
      line-height: 34px;
      letter-spacing: 0.01em;
      color: #22356f;

      @include Phone {
        width: 100%;
      }

      @include Tablet {
        width: 70%;
      }
    }
  }

  .title {
    margin: auto;
    margin-top: 76px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);

    @include Phone {
      font-size: 14px;
    }
  }
}

.square {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin-top: 24px;
  overflow: hidden;

  @include Tablet {
    margin-top: 12px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  @include Phone {
    margin-top: 8px;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4,auto);
  }

  @include Full {
    width: 1440px;
    margin: 0 auto;
  }

  .item {
    display: flex;
    flex-direction: column;
    height: 360px;
    align-items: center;
    background-color: #ffe2de;
    transform: scale(1);
    transition: transform 0.3s;

    @include Phone {
      height: 240px;
    }

    &__circle {
      margin-top: 14px;
      margin-right: 15px;
      height: 9px;
      width: 9px;
      background-color: #e9b730;
      border-radius: 100%;
    }

    &__text {
      display: flex;
      margin-top: 72px;
      padding-top: 23px;
      font-size: 32px;
      font-weight: bold;
      line-height: 34px;
      letter-spacing: -0.01em;
      color: #fff;
      width: 232px;
      border-top: 1px solid #fff;
    }

    &:hover {
      transform: scale(0.9);
    }

    &:nth-child(2) {
      background-color: #c4e769;
    }

    &:nth-child(3) {
      background-color: $color-blue;
    }

    &:nth-child(4) {
      background-color: #0052c1;
    }
  }
}
