.contact-us {
    background-color: #22356F;
    display: flex;  
    
    @include Full {
        justify-content: space-around;
    }
    

    @include Phone  {
        justify-content: center;
    }
}

.section__contact-us {
    display: flex;
    flex-direction: row;
    height: 800px;
    justify-content: space-between;
    width: 100vw;
    margin-left: 10vw;

    @include Full {
        width: 1080px;
        margin-right: 10vw;
    }

    @include Tablet {
        height: 800px;
    }

    @include Phone {
        height: max-content;
        flex-direction: column;
        margin-left: 0;
    }

    &__content {
        justify-self: center;
        display: flex;
        flex-direction: column;
        

        @include Tablet {
            margin-bottom: 22px;
            margin-top: 30px;
        }

        @include Phone {
            margin-bottom: 15px;
            margin-top: 30px;
            margin-left: 10vw;
            order: 2;
        }

        @include Desktop {
            justify-content: space-evenly;
        }

        &__title-1 {
            
            .link-1 {
                font-size: 16px;
                letter-spacing: 0.06em;
                color: #FFFFFF;
                text-decoration: none;
                transition: all 0.3s;

                @include Tablet {
                    font-size: 16px;

                }

                @include Phone {
                    font-size: 16px;
                
                }
            }

            .link-1:hover {
                color: lighten($color: #22356F, $amount: 50);
            }

            @include Tablet {
                margin-bottom: 205px;
            }

            @include Phone {
                margin-bottom: 100px;
            }

        }

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 579px;
            height: 253px;
            font-size: 36px;
            line-height: 53px;
            letter-spacing: -0.005em;
            color: #FFFFFF;


            @include Tablet {
                max-width: 400px;
                height: 250px;
                font-size: 25px;
            }

            @include Phone {
                margin-top: 25px;
                max-width: 200px;
                height: 150px;
                font-size: 16px;
                line-height: 18px;
            }

            .link-2 {
                font-size: 16px;
                line-height: 23px;
                display: flex;
                align-items: center;
                letter-spacing: 0.1em;
                text-decoration: none;
                color: $color-blue;
                transition: all 0.3s;
                margin-top: 30px;

                @include Tablet {
                    font-size: 16px;
                }

                @include Phone {
                    font-size: 16px;
                }
            }

            .link-2:hover {
                color: darken($color:$color-blue, $amount: 10);
            }
        }


        &__title-2 {
            font-size: 64px;
            line-height: 94px;
            letter-spacing: -0.01em;
            color: #FFFFFF;
            margin-bottom: 75px;
            font-weight: bold;

            @include Tablet {
                font-size: 32px;
                line-height: 47px;
                margin-bottom: 45px;
            }

            @include Phone {
                font-size: 22px;
                line-height: 32px;
                margin-bottom: 45px;
            }
        }
    }

    &__image {
        overflow: hidden;
        width: 480px;

        @include Phone {
            width: 100vw;
        }
        
        .image {
            width: 100%;
            height: 800px;
            background-image: url(https://smilekyle.com/wp-content/uploads/charles-etoroma-95uf6lxe-lo-unsplash-scaled.jpg);
            background-position: center;
            background-size: cover;
            transform: scale(1);
            transition: all 0.3s;

            @include Tablet {
                height: 800px;
            }

            @include Phone {
                width: 100%;
                height: 380px;

            }
        }

        .image:hover {
            transform: scale(1.1);
        }
    }
}