.footer {
    display: grid;
    justify-content: space-around;
    background-color: $color-blue;

}

.section__footer {
    padding-top: 32px;
    height: 80px;
    width: 80vw;

    @include Full {
        width: 1080px;
        
    }

    @include Tablet {
        padding-top: 16px;
        height: 40px;
    }

    @include Phone {
        padding-top: 10px;
        height: 27px;
    }
    
    &__sign {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        line-height: 80px;
        letter-spacing: -0.006em;

        @include Tablet {
            font-size: 7px;
            line-height: 40px;
        }

        @include Phone {
            font-size: 5px;
            line-height: 27px;
        }
    }

        ::before {
            content: "\00a9";
            font-size: 14px;
            line-height: 11px;
            letter-spacing: -0.006em;
            color: #FFFFFF;

            @include Tablet {
                font-size: 7px;
                line-height: 5px;
            }

            @include Phone {
                font-size: 5px;
                line-height: 3px;
            }
        }
}