.home {
// display: flex;
// justify-content: space-around;
background-color: #F4F9E2;
display: grid;
// padding: 0 179px;
justify-content: space-around;




}

.section__home {
    
    display: grid;
    grid-template-rows: 100px 1fr;
    height: 840px;
    min-width: 1000px;
    

    @include Full {
        width: 1440px;
    }
    
    

    @include Phone {
        height: 500px;
    }
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1;

    @include Phone {
        padding-top: 12px;
    }

    @include Tablet {
        padding-top: 26px;

    }
    

    .logo {

        &__link {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: -0.035em;
        color: $color-blue;
        text-decoration: none;
        }


    }

    .menu {
        position: relative;
        z-index: 1;
        display: flex;
        // padding-right: 277px;
        width: 234px;
        justify-content: space-between;


        @include Phone {
            // padding-right: 50px;
            width: 130px;
            margin-left: 20px;
            line-height: 18px;
        }

        @include Tablet {
            padding-right: 70px;
            width: 180px;
            margin-left: 60px;
            line-height: 24px;
            
        }

        @include Full {
            width: 304px;
        }

        &__item {
            font-size: 14px;
            color: #22356F;
            text-decoration: none;
        

            @include Phone {
                font-size: 10px;
                line-height: 14px;
            }

        }

    }

    .button {
        display: flex;
        justify-content: center;
        width: 150px;
        height: 50px;
        border-radius: 50px;
        background-color: $color-blue;
        z-index: 1;

        @include Phone {
            margin-top: 8px;
            margin-left: 44px;
            width: 80px;
            height: 24px;
        }

        @include Tablet {
            margin-top: 25px;
            margin-left: 30px;
            width: 100px;
            height: 40px;
        }

        &__link {
            line-height: 50px;
            font-size: 14px;
            color: #fff;
            text-decoration: none;
            text-align: center;
            font-weight: bold;

            @include Phone {
                line-height: 24px;
                font-size: 10px; 
            }

            @include Tablet {
                line-height: 40px;
                font-size: 10px; 
            }

        }
    }
}

.left {

    display: flex;
    flex-direction: column;
    grid-row: 2;
    
    
    
    &__content {
        margin-top: 188px;
        position: relative;
        z-index: 1;

        @include Phone {
            margin-top: 120px;
        }

        @include Tablet {
            margin-top: 120px;
        }


        .logo {
            height: 64px;

            @include Phone {
                height: 32px;
            }

            @include Tablet {
                height: 45px;
            }

            &__link {
                font-size: 24px;
                font-weight: bold;
                line-height: 27px;
                letter-spacing: -0.035em;
                color: $color-blue;
                text-decoration: none;

                @include Phone {
                    font-size: 14px;
                    
                }
            }
            
        }

        .content__title {
            height: 168px;
            font-size: 48px;
            line-height: 53px;
            letter-spacing: -0.035em;
            color: #22356F;
            font-weight: bold;

            @include Phone {
                height: 55px;
                font-size: 16px;
                line-height: 18px;
            }

            @include Tablet {
                height: 100px;
                font-size: 24px;
                line-height: 26px;
            }

            

        }

        .content__text {
            height: 160px;
            width: 469px;
            font-size: 24px;
            line-height: 42px;
            color: #22356F;

            @include Phone {
                height: 160px;
                font-size: 10px;
                line-height: 14px;
                width: 185px;
            }

            @include Tablet {
                width: 350px;
                font-size: 16px;
                line-height: 25px;
                width: 340px;
               
            }

            

        }

        .content__button {
            margin-top: 64px;
            display: flex;

            @include Phone {
                margin-top: 40px;
            }
            

            &-1 {
                height: 50px;
                width: 150px;
                font-size: 16px;
                line-height: 50px;
                text-align: center;
                letter-spacing: 0.1em;
                color: #fff;
                background-color: #F9B640;

                @include Phone {
                    height: 16px;
                    width: 55px;
                    font-size: 6px;
                    line-height: 16px;
                }
            }

            &-2 {
                height: 50px;
                width: 150px;
                font-size: 16px;
                line-height: 50px;
                text-align: center;
                letter-spacing: 0.1em;
                color: #FAB63E;

                @include Phone {
                    height: 16px;
                    width: 55px;
                    font-size: 6px;
                    line-height: 16px;
                }
            }

        }

    }

}


.right {
   
    
    

    &__circle {
        position: absolute;
        right: -166px;
        top: 40px;
        width: 808px;
        height: 544px;
        background: #EDFDFF;
        border-radius: 312.159px;
        transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);

        @include Phone {
            left: -175px;
            top: 25px;
            width: 404px;
            height: 272px;
                
        }
    }

    .circle-2 {
        position: absolute;
        border-radius: 312.159px;
        right: -200px;
        top: 118px;
        width: 808px;
        height: 544px;
        overflow: hidden;

        @include Phone {
            left: -35px;
            top: 65px;
            width: 404px;
            height: 272px;
        }

        @include Tablet {
            left: -95px;
            top: 65px;
            
        }
        
        
        transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);

        &__image {
            position: absolute;
            bottom: -150px;
            width: 800px;
            height: 800px; 
            background-image: url(http://legacycompany.org/wp-content/uploads/2018/11/cropped-linkedin-sales-navigator-406825-unsplash.jpg);
            background-size: cover;   
            background-position: right;
            transform: rotate(30deg);

            @include Phone {
                bottom: -50px;
                width: 420px;
                height: 475px; 
            }

            @include Tablet {
                width: 608px;
                height: 842px; 
            }

            
            
        }

    }

}

.menu__item:hover {
    border-bottom: solid 2px #22356F;
}

.section__home__left__nav__logo__link {
    @include Phone {
        font-size: 14px;
        
    }

    @include Tablet {
        font-size: 24px;
    
    }
}


