.home {
    background-color: #F4F9E2;
    display: grid;
    justify-content: space-around;
    padding-bottom: 79px;
}

.section__home {
    display: grid;
    grid-template-rows: 100px 1fr;
    height: 840px;
    width: 80vw;

    @include Full {
        width: 1080px;
    }

    @include Tablet {
        grid-template-rows: 50px 1fr;
        height: 570px;
    }

    @include Phone {
        grid-template-rows: 32px 1fr;
        height: max-content;
        
    }
    

}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1;

    
    

    .logo {

        &__link {
            position: relative;
            z-index: 1;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: -0.035em;
            color: $color-blue;
            text-decoration: none;
            transition: all 0.3s;

            @include Tablet {
                font-size: 12px;
            }

            @include Phone {
                font-size: 12px;
            }
        }

        &__link:hover {
            color: darken($color:$color-blue, $amount: 10);
        }

    }

    .menu {
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        display: flex;
        width: 234px;
        justify-content: space-between;

        @include Full {
            width: 304px;
        }

        @include Tablet {
            width: 200px;
        }

        @include Phone {
            width: 110px;
        }

      

        &__item {
            font-size: 14px;
            color: #22356F;
            text-decoration: none;
            box-sizing: border-box;
            padding-bottom: 3px;
            border-bottom: 2px solid transparent;
            transition: all 0.3s;

            @include Tablet {
                font-size: 10px;
            }

            @include Phone {
                font-size: 7px;
            }

        }

    }

    .button {
        display: flex;
        justify-content: center;
        width: 150px;
        height: 50px;
        border-radius: 50px;
        background-color: $color-blue;
        z-index: 1;
        transition: all 0.3s;

        @include Tablet {
            width: 75px;
            height: 25px;
        }

        @include Phone {
            width: 50px;
            height: 16px;
        }


        &__link {
            line-height: 50px;
            font-size: 14px;
            color: #fff;
            text-decoration: none;
            text-align: center;
            font-weight: bold;

            @include Tablet {
                line-height: 25px;
                font-size: 10px;
            }

            @include Phone {
                line-height: 16px;
                font-size: 7px;
            }

        }
    }

    .button:hover {
        background-color: darken($color:$color-blue, $amount: 10);
    }
}

.left {

    display: flex;
    flex-direction: column;
    grid-row: 2;
    
    
    
    &__content {
        margin-top: 188px;
        position: relative;
        z-index: 1;

        @include Tablet {
            margin-top: 120px;
        }

        @include Phone {
            margin-top: 80px;
        }


        .logo {
            height: 64px;

            @include Tablet {
                height: 44px;
            }

            @include Phone {
                height: 34px;
            }



            &__link {
                font-size: 24px;
                font-weight: bold;
                line-height: 27px;
                letter-spacing: -0.035em;
                color: $color-blue;
                text-decoration: none;
                transition: all 0.3s;
                

                @include Tablet {
                    font-size: 12px;
                    
                }

                @include Phone {
                    font-size: 12px;
                    
                }

                
            }

            &__link:hover {
                color: darken($color:$color-blue, $amount: 10);
            }
            
        }

        .content__title {
            height: 168px;
            font-size: 48px;
            line-height: 53px;
            letter-spacing: -0.035em;
            color: #22356F;
            font-weight: bold;

            @include Tablet {
                height: 84px;
                font-size: 24px;
                line-height: 26px;
            }

            @include Phone {
                height: 64px;
                font-size: 16px;
                line-height: 18px;
            }
            

        }

        .content__text {
            height: 160px;
            width: 469px;
            font-size: 24px;
            line-height: 42px;
            color: #22356F;

            @include Tablet {
                height: 100px;
                width: 234px;
                font-size: 12px;
                line-height: 21px;
            }

            @include Phone {
                height: 60px;
                width: 156px;
                font-size: 8px;
                line-height: 14px;
            }


        }

        .content__button {
            margin-top: 64px;
            display: flex;

            @include Tablet {
                margin-top: 45px;
            }

            @include Phone {
                margin-top: 30px;
            }

            .button__button {
                padding: 0;
                height: 50px;
                width: 150px;
                font-size: 16px;
                line-height: 50px;
                text-align: center;
                letter-spacing: 0.1em;
                color: #fff;
                text-decoration: none;
                background-color: #F9B640;
                text-transform: uppercase;
                cursor: pointer;
                transition: all 0.4s;

                
                @include Tablet {
                    height: 25px;
                    width: 75px;
                    font-size: 8px;
                    line-height: 25px;
                }

                @include Phone {
                    height: 16px;
                    width: 55px;
                    font-size: 6px;
                    line-height: 15px;
                }
    
            }
            
            .button__button:hover {
                background-color: #F4F9E2;
                color: #F9B640;
            }

        }

    }

}


.right {

    &__circle {
        position: absolute;
        right: -166px;
        top: 40px;
        width: 808px;
        height: 544px;
        background: #EDFDFF;
        border-radius: 312.159px;
        transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);

        @include Tablet {
            width: 560px;
            height: 380px;
        }

        @include Phone {
            width: 360px;
            height: 180px;
            right: -92px;
            top: 75px;
        }

    }

    .circle-2 {
        position: absolute;
        border-radius: 312.159px;
        right: -200px;
        top: 118px;
        height: 544px;
        width: 808px;
        overflow: hidden;
        transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);

        @include Tablet {
            width: 560px;
            height: 380px;
        }

        @include Phone {
            width: 360px;
            height: 180px;
            right: -208px;
            top: 70px;
        }

        @media (min-width:500px) {
            right: -73px;
            top: 113px;
        }

        &__image {
            position: absolute;
            bottom: -150px;
            width: 800px;
            height: 800px; 
            background-image: url(http://legacycompany.org/wp-content/uploads/2018/11/cropped-linkedin-sales-navigator-406825-unsplash.jpg);
            background-size: cover;   
            background-position: right;
            transform: rotate(30deg);
            
            @include Tablet {
                width: 560px;
                height: 638px; 
            }

            @include Phone {
                width: 314px;
                height: 445px;       
            }
        }

    }

}

.menu__item:hover {
    border-bottom: 2px solid #22356F;
}

.section__home__left__nav__logo__link {
    @include Phone {
        font-size: 14px;
        
    }

    @include Tablet {
        font-size: 24px;
    
    }
}


