.menu-phone {
  padding: 16px;
  background-color: #fff;
  height: 100vh;
  z-index: 2;
  
  .icon {
    transform: scale(1);
    transition: all 0.3s;
    width: max-content;
    height: max-content;
    
    .icon__items {
      
      .item:nth-child(1) {
        transform: rotate(45deg);
        margin-bottom: -2px;
      }

      .item:nth-child(2) {
        transform: rotate(-45deg);    
      }
    }
  }

  .icon:hover {
    transform: scale(1.2);
  }
}

.menu-phone__item {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: max-content;

  .item {
    text-decoration: none;
    color: $color-blue;
    font-size: 42px;
    line-height: 80px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
  }

  .item:hover {
     font-size: 52px;
  }
}
