.section__why {    
  background-color: $color-blue;
  display: flex;   
  justify-content: space-around;

  @include Phone {
    justify-content: center;
  }

  @include Tablet {
    justify-content: center;
  }
}

.why {
  display: flex;
  flex-direction: row;
  height: 604px;
  justify-content: space-between;
  width: 100vw;
  margin-left: 175px;

  @include Full {
    width: 1080px;
    margin-left: 0px;
  }

  @include Tablet {
    margin-left: 30px;
  }

  @include Phone {
    height: max-content;
    flex-direction: column;
    margin-left: 0;
  }
  
  &__content {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;


    @include Desktop {
      max-width: 555px;
      margin-right: 30px;
    }

    @include Full {
      max-width: 555px;
      margin-right: 30px;
    }
    
    @include Tablet {
      width: 50vw;
      padding: 0 30px;
      margin-right: 30px;
    }

    @include Phone {
      width: 100%;
      padding: 30px 16px;
      order: 2;
    }
    
    .content__title {
      margin: 0;
      font-size: 36px;
      line-height: 46px;
      letter-spacing: -0.006em;
      color: #FFFFFF;    
    }

    .content__text {
      padding-top: 75px;
      font-size: 20px;
      line-height: 30px;
      color: #FFFFFF;

      span {
        font-size: 24px;
        line-height: 35px;
        font-weight: bold;
      }
    }
  }

  &__image {
    overflow: hidden;
    width: 525px;
    height: 604px;

    @include Phone {
      width: 100vw;
      height: 260px;
    }

    @include Tablet {
      width: 300px;
    }

    .image {
      justify-self: end;
      width: 100%;
      height: 100%;
      background-image: url(https://i1.wp.com/austinbodycontouring.com/wp-content/uploads/2018/08/christopher-campbell-40367-unsplash-216461423-1534015318371.jpg?fit=3455%2C3455&ssl=1);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transform: scale(1);
      transition: all 0.3s;
    }

    .image:hover {
      transform: scale(1.1);
    }
  }
}
