.you-should {
    display: flex;   
    justify-content: space-around;

    @include Phone {
        justify-content: center;
    }

    @include Tablet {
        justify-content: center;
    }
}

.section__you-should {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 800px;
    justify-content: space-between;
    width: 100vw;
    margin-right: 175px;

    @include Full {
        width: 1080px;
        margin-left: 175px;
    }

    @include Tablet {
        margin-top: 20px;
        gap: 15px;
        height: 600px;
        margin-right: 30px;
    }

    @include Phone {
        margin-top: 13px;
        gap: 10px;
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        max-width: 676px;
    }
   

    &__content {
        display: flex;
        flex-direction: column;
        justify-self: center;
        justify-content: space-evenly;

        @include Desktop {
            max-width: 676px;
        }

        @include Full {
            max-width: 676px;
        }

        @include Phone {
            width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            height: 600px;
        }
        

        &__title {
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.06em;
            color: #22356F;

            @include Tablet {
                font-size: 16px;
            }

            @include Phone {
                font-size: 16px;
            }
        }

        &__text {
            max-width: 675px;
            width: 30vw;
            font-size: 36px;
            font-weight: bold;
            line-height: 53px;
            letter-spacing: -0.01em;
            color: #22356F;

            @include Tablet {
                font-size: 30px;
                line-height: 40px;
                width: 100%;
            }

            @include Phone {
                font-size: 20px;
                line-height: 26px;
                width: 100%;
            }

            span {
                color: $color-blue;
            }
        }

        &__button {
            display: flex;
            align-items: center;
            
            &__link {
                text-decoration: none;
                font-size: 16px;
                line-height: 23px;
                display: flex;
                align-items: center;
                letter-spacing: 0.1em;
                color: #FAB63E;
                transition: all 0.3s;

                @include Tablet {
                    font-size: 16px;
                    line-height: 23px;
                }

                @include Phone {
                    font-size: 16px;
                    line-height: 23px;
                }
            }

            &__link:hover {
                color: darken($color:#FAB63E, $amount: 10);
            }
        
        }
    }

    &__image {
        overflow: hidden;
        width: 480px;
        @include Phone {
            width: 100vw;
        }
        
        .image {
            width: 100%;
            height: 800px;
            background-image: url(https://i2.wp.com/www.sebazzo.com/wp-content/uploads/2018/02/linkedin-sales-navigator-402831.jpg?fit=800%2C1200&ssl=1);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transform: scale(1);
            transition: all 0.3s;

            @include Tablet {
                width: 360px;
                height: 600px;
            }

            @include Phone {
                width: 100%;
                height: 360px;
            }
        }

        .image:hover {
            transform: scale(1.1);
        }
    }
}