@import "utils";
@import "blocks/home";
@import "blocks/page";
@import "blocks/why";
@import "blocks/about-us";
@import "blocks/boxes";
@import "blocks/boxes-block";
@import "blocks/you-should";
@import "blocks/contact-us";
@import "blocks/some-info";
@import "blocks/footer";
@import "blocks/menu-phone";











