@mixin hover($_property, $_toValue) {
  transition: #{$_property} 1s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin Phone {

  @media (max-width:640px) {
    @content;
  }
  
}

@mixin Tablet {

  @media (min-width:640px) and (max-width:1024px)  {
    @content;
  }
  
}

@mixin Full {

  @media (min-width:1441px)  {
    @content;
  }
  
}

@mixin Desktop {

  @media (min-width:1024px)  {
    @content;
  }
  
}
